*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0f172a;
font-family:sans-serif;
color:white;
text-align:center;
}

/* MENU */

.menu{
width:90%;
max-width:1000px;

display:flex;
justify-content:space-around;

margin:30px auto;

background:rgba(0,0,0,0.7);

border-radius:25px;
border:2px solid #8B5CF6;

padding:15px;
}

.menu a{
text-decoration:none;
color:white;
font-size:28px;
font-family:'VT323', monospace;
padding:10px 25px;
border-radius:10px;
transition:0.3s;
}

.menu a:hover{
background:#8B5CF6;
transform:scale(1.1);
}
@media (max-width:600px){

.menu{
    flex-wrap: wrap;
    gap:10px;
}

.menu a{
    width:45%;
    font-size:22px;
}

}

/* TITULO */

.titulo{
font-family:'VT323', monospace;
font-size:60px;
margin-bottom:20px;
}

#panelJugador{
text-align:center;
margin:20px;
font-size:20px;
}

/* CORAZONES */

#vidaCorazones{
font-size:30px;
margin-bottom:10px;
}

/* BARRA XP */

#barraXP{
width:300px;
height:20px;
background:#333;
margin:10px auto;
border-radius:10px;
overflow:hidden;
}

#xpBarra{
height:100%;
width:0%;
background:#4caf50;
transition:width 0.4s;
}

















/* QUIZ */

.quiz{
width:90%;
max-width:600px;
margin:auto;
background:white;
color:black;
padding:30px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

/* PREGUNTA */

#pregunta{
margin-bottom:20px;
}

/* OPCIONES */

.opcion{

display:block;
font-size:20px;
padding:12px;
width:100%;
margin:5px;




border:none;

border-radius:10px;

background:#8B5CF6;

color:white;



cursor:pointer;

transition:0.3s;

}

.opcion:hover{
transform:scale(1.05);
}

/* RESPUESTAS */

.correcta{
background:#2ecc71 !important;
}

.incorrecta{
background:#e74c3c !important;
}

/* PROGRESO */

#progreso{
margin-bottom:15px;
font-weight:bold;
}

/* XP */

#xp{
margin-top:15px;
font-size:20px;
color:#8B5CF6;
}

.footer{
    margin-top:40px;
    text-align:center;
    color:white;
    font-size:14px;
    padding:15px;
    background:rgba(0,0,0,0.5);
}

.botonvolver{
display:block;
width:200px;
margin:30px auto;
padding:12px;
text-align:center;
background:#F08DED;
color: black;
font-family:'VT323', monospace;
font-size:22px;
border-radius:10px;
text-decoration:none;
transition:0.3s;

}

.botonvolver:hover{
background:#EDB4EB;
transform:scale(1.05);
box-shadow:0 0 10px #FAD7F8;

}
